<% content_for :title do %>
<h1><%= t 'crud.listing', model: t('card_line_items_without_order') %></h1>
<div class="toolbar">
  <%= link_to t('crud.back'), admin_cards_path, class: 'btn' %>
</div>
<% end %>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= CardLineItem.human_attribute_name(:updated_at) %></th>
      <th><%= CardLineItem.human_attribute_name(:card) %></th>
      <th class="price"><%= CardLineItem.human_attribute_name(:amount) %></th>
      <th><%= CardLineItem.human_attribute_name(:validity) %></th>
      <th><%= CardLineItem.human_attribute_name(:reason) %></th>
    </tr>
  </thead>
  <tbody>
    <% @card_line_items.each do |card_line_item| %>
      <tr>
        <td><%= l card_line_item.updated_at, format: :long %></td>
        <td>
          <%= link_to(card_line_item.card.number, admin_card_path(card_line_item.card)) %>
          <span class="label pull-right"><%= card_line_item.card.card_type.try(:name) %></span>
        </td>
        <td class="price"><%= number_to_currency card_line_item.amount %></td>
        <td><%= card_line_item.validity %></td>
        <td><%= card_line_item.reason %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @card_line_items %>
