<% content_for :title do %>
<h1>
  <%= Venue.model_name.human %>:<%= @venue.venue_type.name %>
  <small>
    <%= l @venue.start_at.to_date, format: :long %> <%= l @venue.start_at, format: :time %> - <%= l @venue.stop_at, format: :time %>
  </small>
</h1>
<div class="toolbar">
  <%= link_to t('crud.back'), admin_venues_path, class: 'btn' %>
</div>
<% end %>

<%= form_tag(populate_admin_cart_path, method: :post, class: 'form-horizontal') do |f| %>
  <%= hidden_field_tag 'type', 'Order::VenueOrder' %>
  <%= hidden_field_tag 'back_to_url', request.url %>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th><%= RealVenue.human_attribute_name(:id) %></th>
        <th><%= RealVenue.human_attribute_name(:count_on_hand) %></th>
        <th><%= RealVenue.human_attribute_name(:max_people) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @real_venues.each do |real_venue| %>
      <tr>
        <td><%= real_venue.id %></td>
        <td>
          <%= real_venue.count_on_hand %>
          <%= render 'orders', { real_venue: real_venue } %>
        </td>
        <td><%= real_venue.max_people %></td>
        <td class="control span4">
          <% if real_venue.out_of_stock? %>
            <span class="label"><%= t('out_of_stock') %></span>
          <% else %>
            <%= hidden_field_tag 'items_attributes[][id]', @venue.id %>
            <%= hidden_field_tag 'items_attributes[][real_venue_id]', real_venue.id %>
            <%= number_field_tag 'items_attributes[][quantity]', 0, in: 0..real_venue.count_on_hand, class: 'span1' %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <%= submit_tag t('add_to_cart'), class: 'btn btn-primary pull-right' %>
<% end -%>
