<% content_for :title do %>
<h1><%= t 'crud.listing', model: Company.model_name.human %></h1>
<% end %>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
        <th><%= Company.human_attribute_name(:name) %></th>
        <th><%= Company.human_attribute_name(:address) %></th>
        <th><%= Company.human_attribute_name(:phone) %></th>
        <th></th>
    </tr>
  </thead>
  <tbody>
<% @companies.each do |company| %>
    <tr>
      <td><%= company.name %></td>
      <td><%= company.address %></td>
      <td><%= company.phone %></td>
      <td class="control span4">
        <%= link_to t('crud.show'), admin_company_path(company) %>
        <%= link_to t('crud.edit'), edit_admin_company_path(company) %>
        <%= link_to t('crud.destroy'), admin_company_path(company), confirm: t('crud.destroy_confirmation'), method: :delete %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= paginate @companies %>
