<div class="footer-nav">
  <%= link_to t('sign_up_as_leader'), new_user_registration_path(role: 'leader') %> |
  <%= link_to t("contact_us"), contact_path(1) %> |
  <%= link_to t("about_us"), contact_path(2) %> |
  <%= link_to t("nav.user_agreements"), user_agreements_path %>
  <%== t("powered_by") %>
</div>
