<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to t("search_venue"), '#', class: "brand", id: 'search-venue-tab' %>
      <ul class="nav pull-right">
        <li>
          <%= link_to t("home"), root_url %>
        </li>
        <% if user_signed_in? %>
          <% if current_user.is?('admin') || current_user.is?('manager') %>
            <li>
              <%= link_to t("my_account"), edit_profile_path %>
            </li>
            <li>
              <%= link_to t("administration"), admin_path %>
            </li>
          <% else %>
            <li>
              <%= link_to t("my_account"), orders_path %>
            </li>
            <li>
              <%= link_to t("cart"), edit_cart_path %>
            </li>
          <% end -%>
        <% end -%>
      </ul>
    </div>
  </div>
</div>

<%= javascript_tag do %>
  $('#search-venue-tab').click(function() {
    $('.venue-search form').submit();
  });
<% end -%>
