<%= simple_form_for([:admin, @activity, @venue], html: { class: 'form-horizontal' }) do |f| %>
  <% if f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert">&times;</a>
      <%= f.error_notification %>
    </div>
  <% end %>

  <%= f.input :start_at, input_html: { class: 'span2' } %>
  <%= f.input :stop_at, input_html: { class: 'span2' } %>
  <%= f.input :price, input_html: { class: 'span2' } %>
  <%= f.input :member_price, input_html: { class: 'span2' } %>
  
  <% if @venue.new_record? %>
    <%= f.input :capacity, input_html: { class: 'span2' } %>
    <%= f.hidden_field :activity_id %>
  <% end -%>

  <%= f.hidden_field :is_manually, value: true %>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
