<%= form_tag(populate_admin_cart_path, method: :post, class: 'form-horizontal') do |f| %>
  <%= hidden_field_tag 'type', 'Order::VenueOrder' %>
  <%= hidden_field_tag 'back_to_url', request.url %>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th><%= Venue.human_attribute_name(:start_at) %> - <%= Venue.human_attribute_name(:stop_at) %></th>
        <th><%= Venue.human_attribute_name(:count_ordered) %></th>
        <th><%= Venue.human_attribute_name(:count_on_hand) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% venues.each do |venue| %>
      <tr>
        <td>
          <%= l venue.start_at, format: :time %> - <%= l venue.stop_at, format: :time %>
        </td>
        <td>
          <%= venue.count_ordered %>
          <%= render 'orders', { venue: venue } %>
        </td>
        <td><%= venue.count_on_hand %></td>
        <td class="control span4">
          <% if venue.expired? %>
            <span class="label"><%= t('expired') %></span>
          <% elsif venue.out_of_stock? %>
            <span class="label"><%= t('out_of_stock') %></span>
          <% elsif venue.real_venues.count > 0 %>
            <%= link_to t('select_real_venue'), admin_venue_real_venues_path(venue) %>
          <% else %>
            <%= hidden_field_tag 'items_attributes[][id]', venue.id %>
            <%= number_field_tag 'items_attributes[][quantity]', 0, in: 0..venue.count_on_hand, class: 'span1' %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <%= submit_tag t('add_to_cart'), class: 'btn btn-primary pull-right' %>
<% end -%>
