<% content_for :title do %>
<h1><%= t 'crud.listing', model: Venue.model_name.human %></h1>
<div class="toolbar">
  <%= render 'search_form' %>
</div>
<% end %>

<%= render 'tabs' %>

<% case @view_type %>
<% when 'grid' %>
  <%= render 'grid', { venue_groups: @venue_groups } %>
<% else %>
  <%= render 'list', { venues: @venues } %>
<% end -%>
