<tr>
  <th><%= payment_method.class.human_attribute_name(:gateway_id) %></th>
  <td><%= payment_method.gateway_id %></td>
</tr>
<tr>
  <th><%= payment_method.class.human_attribute_name(:gateway_key) %></th>
  <td><%= payment_method.gateway_key %></td>
</tr>
<tr>
  <th><%= payment_method.class.human_attribute_name(:gateway_user) %></th>
  <td><%= payment_method.gateway_user %></td>
</tr>
