<% content_for :title do %>
  <h1><%= @activity.name %></h1>
  <div class="toolbar">
    <% if @activity.is_available %>
      <%= @activity.switch_of_active %>
      <%= @activity.button_to_edit %>
      <%= @activity.button_to_destroy %>
    <% end -%>
    <%= link_to t('new_manually_venue'), new_admin_activity_venue_path(@activity), class: 'btn btn-primary' %>
    <%= link_to t('manually_venues'), manually_admin_activity_venues_path(@activity), class: 'btn' %>
    <%= link_to t('crud.back'), admin_activities_path, class: 'btn' %>
  </div>
<% end %>

<div class="row-fluid">
  <div class="span3">
    <div class="well">
      <%= render 'children', { children: [@activity.root] } %>
    </div>
  </div>
  <div class="span9">
    <table class="table table-nobordered">
      <tbody>
        <tr>
          <th><%= Activity.human_attribute_name(:venue_type) %></th>
          <td><%= @activity.venue_type %></td>
        </tr>
        <tr>
          <th><%= Activity.human_attribute_name(:quantity) %></th>
          <td><%= @activity.quantity %></td>
        </tr>
        <%= render resource_view_path(@activity.date_rule, namespace: 'admin', partial: 'details'), { date_rule: @activity.date_rule } %>
        <%= render resource_view_path(@activity.time_rule, namespace: 'admin', partial: 'details'), { time_rule: @activity.time_rule } %>
        <%= render resource_view_path(@activity.venue_rule, namespace: 'admin', partial: 'details'), { venue_rule: @activity.venue_rule } %>
        <tr>
          <th><%= Activity.human_attribute_name(:published_to) %></th>
          <td><%= l(@activity.published_to.to_date, format: :long) if @activity.published_to %></td>
        </tr>
        <tr>
          <th><%= Activity.human_attribute_name(:description) %></th>
          <td><%= @activity.description %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
 <script type="text/javascript">
   function select_any(){

    var aElems = document.getElementsByTagName("input");

    for (var i=0; i<aElems.length; i++){
      if (aElems[i].type=="checkbox")
        if (aElems[i].checked == true)
          return true;
    }
     alert("请选择至少一个场地");
     return false;
   }
 </script>
<%= render 'search' %>
 <%= link_to '批量禁用', "#", class: 'btn btn-danger', :onclick=>"javascript:if( select_any() && confirm('确定要禁用选中场地吗？场地禁用后，不能再次启用。')) $('#activity_venues').submit();"%><br/>

共<%= @activity_root_venues.count%>条场地记录
<%= form_tag("/admin/activities/#{@activity.id}/venues/disable_all", method: "post", :id=>"activity_venues") do %>
<%=hidden_field_tag "begin_date", params[:begin_date]%>
<%=hidden_field_tag "end_date", params[:end_date]%>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>选中</th>
      <th><%= Venue.human_attribute_name(:date) %></th>
      <th><%= Venue.human_attribute_name(:start_at) %></th>
      <th><%= Venue.human_attribute_name(:stop_at) %></th>
      <th><%= Venue.human_attribute_name(:capacity) %></th>
      <th><%= Venue.human_attribute_name(:count_on_hand) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% VenueDecorator.decorate(@activity_root_venues).each do |venue| %>
      <tr>
        <td>
          <% if venue.is_available && venue.related_completed_orders.size <= 0%>
            <%= check_box_tag "venue#{venue.id}", venue.id.to_s, false%>
          <%else%>
            <span class="label"><%= "不可选中" %></span>
          <% end -%> 
        </td>        
        <td>
          <%= venue.on_date %>
          <% unless venue.active %>
            <span class="label label-warning"><%= t('private_venue') %></span>
          <% end -%>
          <% unless venue.is_available %>
            <span class="label"><%= t('unavailable_venue') %></span>
          <% end -%>          
        </td>
        <td><%= venue.start_at %></td>
        <td><%= venue.stop_at %></td>
        <td><%= venue.capacity %></td>
        <td><%= venue.count_on_hand %></td>
        <td>
          <% if venue.is_available %>
            <%= link_to t('crud.edit'), edit_admin_activity_venue_path(@activity, venue) %>
          <% end -%>
        </td>        
      </tr>
    <% end %>
  </tbody>
</table>
<%end%>