<%= search_form_for [:admin, @q], html: { class: "well form-inline form-horizontal" } do |f| %>
  <div class="control-group-inline">
    <%= f.label :login_name %>
    <%= f.text_field :login_name_cont, class: "span2" %>
  </div>
  <div class="control-group-inline">
    <%= f.label :name %>
    <%= f.text_field :name_cont, class: "span2" %>
  </div>
  <div class="control-group-inline">
    <%= f.label :gym, Gym.model_name.human %>
    <%= f.text_field :gyms_name_cont, class: "span2" %>
  </div>
  <%= f.submit t('helpers.submit.search'), class: 'btn btn-primary' %>
<% end %>
