<!DOCTYPE html>
<html>
<head>
  <title><%= t :administration %></title>
  <%= stylesheet_link_tag    "admin/application" %>
  <%= javascript_include_tag "admin/application" %>
  <%= csrf_meta_tags %>
<script type="text/javascript">
  function checkPhone(phone)   
  {
  //验证电话号码手机号码，包含至今所有号段   
  var ab=/^(13[0-9]|15[0-9]|18[7|8|9])\d{8}$/;

    if(ab.test(phone) == false)
    {
      alert("请正确填写手机号码!");
      return false;
    }
   return true;
  }
</script>
</head>
<body>
  <div id="wrapper">
    <%= render '/admin/shared/topnav' %>

    <div class="container">

      <div class="content">


        <% if content_for?(:title) || content_for?(:tabs) %>
          <div class="page-header <%= content_for?(:tabs) ? 'with-tabs' : '' %>">
            <div class="titlebar">
              <%= yield :title %>
            </div>
            <%= yield :tabs %>
          </div>
        <% end %>

        <% unless alert.blank? %>
          <div class="alert alert-error fade in">
            <a class="close" data-dismiss="alert">&times;</a>
            <%= alert %>
          </div>
        <% end %>

        <% unless notice.blank? %>
          <div class="alert alert-success fade in">
            <a class="close" data-dismiss="alert">&times;</a>
            <%= notice %>
          </div>
        <% end %>

        <div class="row">
          <div class="span12">
            <%= yield %>
          </div>
        </div>
  
        <footer>
          <div class="pull-right">
            <span style="margin-bottom: 0px;">手机号码</span>&nbsp;&nbsp;
            <%= text_field_tag 'mobile_no', "", :style=>"margin-bottom: 0px; width: 100px;" %>&nbsp;&nbsp; <%= link_to '发送邀请短信', "#", class: 'btn btn-danger', :style=>"margin-bottom: 0px;margin-right:50px", :onclick=>"javascript:mobile_no = $('#mobile_no').val();if( checkPhone(mobile_no) && confirm('确定要发送短信吗？')) {
                $.ajax({
                      url : 'gyms/send_sms',
                      type: 'POST',
                      data: 'mobile=' + mobile_no,
                   success: function(){alert('发送短信成功'); $('#mobile_no').val('');},
                      error: function(jqXHR, textStatus, errorThrown) {
                        alert('Error: ' + errorThrown);
                        return false;
                      }
                    });          
              }"%>
            <%= link_to '/' do %>
              <%= image_tag "powered_by.png", :style=>"margin-bottom: 10px;" %>
            <% end -%>
          </div>
          <p class="links">
            <%= link_to t("about_us"), contact_path(2) %> |
            <%= link_to t("contact_us"), contact_path(1) %> |
            <a href="#">意见反馈</a> |
            <a href="#">使用帮助</a>
          </p>
          <p class="powered_by"><%== t :powered_by %></p>
        </footer>
      </div>

    </div>
  </div>
</body>
</html>
