<!DOCTYPE html>
<html>
<head>
  <title><%= t :administration %></title>
  <%= stylesheet_link_tag    "admin/application" %>
  <%= javascript_include_tag "admin/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <%= render '/admin/shared/topnav' %>

    <div class="container">

      <div class="content">


        <% if content_for?(:title) || content_for?(:tabs) %>
          <div class="page-header <%= content_for?(:tabs) ? 'with-tabs' : '' %>">
            <div class="titlebar">
              <%= yield :title %>
            </div>
            <%= yield :tabs %>
          </div>
        <% end %>

        <% unless alert.blank? %>
          <div class="alert alert-error fade in">
            <a class="close" data-dismiss="alert">&times;</a>
            <%= alert %>
          </div>
        <% end %>

        <% unless notice.blank? %>
          <div class="alert alert-success fade in">
            <a class="close" data-dismiss="alert">&times;</a>
            <%= notice %>
          </div>
        <% end %>

        <div class="row">
          <div class="span12">
            <%= yield %>
          </div>
        </div>
  
        <footer>
          <div class="pull-right">
            <%= link_to '/' do %>
              <%= image_tag "powered_by.png" %>
            <% end -%>
          </div>
          <p class="links">
            <%= link_to t("about_us"), contact_path(2) %> |
            <%= link_to t("contact_us"), contact_path(1) %> |
            <a href="#">意见反馈</a> |
            <a href="#">使用帮助</a>
          </p>
          <p class="powered_by"><%== t :powered_by %></p>
        </footer>
      </div>

    </div>
  </div>
</body>
</html>
