<!DOCTYPE html>
<html>
<head>
  <title><%= t("berlin") %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %> 
</head>
<body>
  <div class="container">
    <div id="header">
      <%= render "/shared/user_nav" %>
      <div class="content">
        <%= link_to root_url, id: "logo" do %>
          <%= image_tag 'logo.jpg' %>
        <% end -%>
        <%= image_tag('powered_by_transparent.png', class: "header-banner") %>
      </div>
    </div>

    <div id="content">
      <%= render "/shared/nav" %>

      <% unless alert.blank? %>
        <div class="alert alert-error fade in">
          <a class="close" data-dismiss="alert">&times;</a>
          <%= alert %>
        </div>
      <% end %>

      <% unless notice.blank? %>
        <div class="alert alert-success fade in">
          <a class="close" data-dismiss="alert">&times;</a>
          <%= notice %>
        </div>
      <% end %>

      <% if content_for? :banner %>
        <div id="banner">
          <%= yield :banner %>
        </div>
      <% end -%>

      <div id="main">
        <% if content_for? :sidebar %>
          <div class="row-fluid">
            <div class="span3">
              <div id="sidebar">
                <%= yield :sidebar %>
              </div>
            </div>
            <div class="span9">
              <%= yield %>
            </div>
          </div>
        <% else %>
          <%= yield %>
        <% end -%>
      </div>
    </div>

    <div id="footer">
      <%= render '/shared/footer_nav' %>
    </div>
  </div>
  <%= render "/carts/live" %>
  <%= yield :scripts %>
</body>
</html>
